<div class="row justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-6 text-center">
      <!-- Your centered content goes here -->
      <div class="bg-light p-5 rounded">
          <h1>Welcome to<br> <i class="bi bi-list-nested"></i>  ToMeowDo</h1>
          <%= image_tag 'home_image.jpg', class:"m-4", width:"150"%>
          <p class="lead">Stay organized, boost productivity, and never miss a task again with ToMeowDo.<br>
          Whether you're a busy professional, a student with assignments, or a household manager, our easy-to-use ToDo list app has got you covered.</p>
      </div>
      </div>
    </div>
  </div>