<%=turbo_page_requires_reload%>

<h1>My ToDo List
<%= link_to new_category_path, class:"btn btn-default", data: {turbo:true,  turbo_frame: "modal"} do%>
  <h1><i class="bi bi-plus"></i></h1>
<% end %>
</h1> 

<div class="container text-center">
  <div class="row align-items-start row-cols-3 flex-nowrap pb-5 auto" style="overflow-x: auto;">
    <% @categories.each do |category| %>
    <div class="col">
      <%= render category %>
    </div>
    <% end %>
  </div>
</div>
